.home-page {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.header {
  background-image: url("../images/VideoGameCharacters-JuegoStudio.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: black;
  color: white;
}

.search-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: orangered;
  color: white;
  cursor: pointer;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.game-card {
  background-color: rgb(70, 69, 69);
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.game-card:hover {
  transform: translateY(-5px);
  background-color: rgb(62, 62, 62);
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-logo {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.game-info {
  flex: 1;
  text-align: left;
}

.game-category {
  font-size: 12px;
  color: #bbb;
  margin: 0;
}

.game-title {
  font-size: 18px;
  margin: 2px 0;
  font-weight: bold;
}
